body{

    text-align:center;
    border:2px solid white;
    box-sizing: border-box;
    background-color:black;
    height: 170px;
   
}
#buto{
    color:white;
    border:1px solid white ;
    
}
#dating{
    width:20%;
    height:1rem;
}
